<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>应用中心</title>
	</head>
	<link rel="stylesheet" type="text/css" href="../../css/lib/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/monitoring.css"/>
	<body>
		<div class="network-monitoring monitorCom">
			<header>
				<span><a href="#" class="active">应用中心</a></span>
			</header>
			<div class="content">
				<div class="contentBox">
					<iframe id="rocordIframe" src="http://10.42.77.245:8080/man/grzx" width="100%" height="100%" border="none"></iframe>	
				</div>
			</div>
		</div>
		<script src="../../js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/config.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/router.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
