<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>预警管理</title>
	</head>
	<link rel="stylesheet" type="text/css" href="../../css/lib/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/monitoring.css"/>
	<body>
		<div class="network-monitoring monitorCom">
			<header class="top-nav">
				<span><a href="#" class="active">重点人员管理</a></span>
			</header>
			<div class="content">
				<div class="contentBox warningRefer">
					<iframe id="rocordIframe" src="http://10.42.77.245:8080/man/gjfk/zdrygl?falg=1" width="100%" height="100%"></iframe>	
				</div>
			</div>
		</div>
		<script src="../../js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/config.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/router.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
