<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>预警查询</title>
	</head>
	<link rel="stylesheet" type="text/css" href="../../css/lib/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/monitoring.css"/>
	<body>
		<div class="high-riskPersonRefer monitorCom">
			<header>
				<span><a href="#" class="clickLink" index="forewarningAnalyze">预警分析</a></span>
				<span><a href="#" class="active clickLink" index="forewarningRefers">预警查询</a></span>
			</header>
			<div class="content">
				<div class="contentBox getFocusPerson">
					<iframe src="http://10.42.77.245:8080/man/ajzb/getFocusPerson" width="100%" height="100%"></iframe>
				</div>
			</div>
		</div>
		<script src="../../js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/config.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/router.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
